nav img{
    width:6%
}

nav{
    height: 80px;
}
nav{
    background-color:black;
    color: white;
    padding: white;
}

ul{
    float:right;
    list-style-type: none;
    display: flex;
    /* padding: 25px; */
}

ul li{
    padding: 10px;
    display: inline-block;
    padding-top: 30px;
    margin-right: 10px;
}

li a{
    color: #fff;
    text-decoration: none;
}