<!-- Day 1: 27sept -->
<!-- <app-interpolation></app-interpolation> -->

<!-- Day 2: 30 sept 
<app-user-list></app-user-list>
<app-student-list></app-student-list>
-->

<!-- Day 3: 1 october 
<app-pipe></app-pipe>
-->

<!-- Day4: revised 20min -->
 <!-- day 5 : 3october 
  <app-make-and-call-component></app-make-and-call-component>
  <app-events></app-events> 
  <app-get-input-value></app-get-input-value> 
  <app-counter></app-counter>
  -->


<!-- Day 6: 7 october -->
 <!-- <app-property-binding></app-property-binding> 
  <app-if-else></app-if-else>   
  <app-switch></app-switch>
-->

<!-- Day 7: 8 october -->
 <!-- <app-for-loop></app-for-loop> 
 <app-nested-loop></app-nested-loop>-->
 <app-style-binding></app-style-binding>