<!-- 
<h3 style="color: blue;">{{title}}</h3>

<h1 *ngIf="show; then ifBlock else elseBlock" style="color: blueviolet; font-family: 'Times New Roman', Times, serif;">Its displaying because ngIf show = true</h1>

<ng-template #ifBlock>
    <h1>If block</h1>
</ng-template>

<ng-template #elseBlock>
    <h1>Else block</h1>
</ng-template> -->


<!-- multiple if-else statement -->
 <h1>{{title}}</h1>
 <ng-template [ngIf]="color === 'red'">
    <h2>
        <span style="color: red;">Red</span>
        Color
    </h2>
 </ng-template>

 <ng-template [ngIf]="color === 'blue'">
    <h2>
        <span style="color:rgb(21, 95, 34)">Green</span>
    color</h2>
 </ng-template>


 <ng-template [ngIf] = "color === 'brown'">
    <h2>
        <span style="color: brown;">
            Brown
        </span>
    color</h2>
 </ng-template>